selenium==4.27.1
undetected-chromedriver==3.5.5
webdriver-manager
beautifulsoup4==4.13.4
requests==2.32.4
python-dateutil==2.9.0.post0
pytz==2025.2
python-dotenv==1.0.1
geopy==2.4.1
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.3.2
tensorflow==2.15.0
keras==2.15.0
joblib==1.4.2
sumy==0.11.0
nltk==3.9.1
pygad==3.5.0
future==1.0.0
